<div class="mx-auto">
    <div class="card">
        <div class="card-title mx-auto mt-3">
            <h3 class="main-color">
                <i class="fas fa-plus"></i>
                Add New Giphy
            </h3>
        </div>
        <div class="card-body">
            {{#each errors}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {{/each}}
            <form action="/giphies/add" method="POST">
                <div class="form-group">
                    <label for="title">Title *</label>
                    <input type="text" name="title" value="{{title}}" class="form-control" placeholder="Title for giphy" autofocus>
                </div>
                <div class="form-group">
                    <label for="url">URL *</label>
                    <input type="text" name="url" value="{{url}}" class="form-control" placeholder="Enter the url">
                </div>
                <div class="form-group">
                    <label for="description">Description <i>(optional)</i></label>
                    <textarea class="form-control" name="description" value="{{description}}" rows="2" placeholder="If you wish you can enter a description"></textarea>
                </div>
                <div class="form-group">
                    <label for="tags">Tag the giphy</label>
                    <select multiple class="form-control" tags="tags[]">
                        <option value="1">Tag 1</option>
                        <option value="2">Tag 2</option>
                        <option value="3">Tag 3</option>
                    </select>
                </div>
                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-main btn-block">
                        <i class="fas fa-plus"></i>
                        Add Giphy
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>