<div class="jumbotron mt-4">
    <h1>GiphyJS <strong>APP</strong></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quaerat et consequatur optio rem repudiandae hic praesentium, minima, recusandae ipsa natus impedit! Maiores?
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus fugiat dicta eius nemo, praesentium omnis, asperiores excepturi molestiae voluptates ipsum nulla suscipit id, amet perferendis nisi. Voluptate impedit ea libero pariatur itaque id. Aliquam error iusto quasi minus odit, repellendus fugiat dolorem quisquam molestias explicabo expedita rerum aut asperiores facere modi sint porro tenetur natus suscipit? Provident nisi laudantium obcaecati totam deserunt nobis, dolore corrupti reiciendis mollitia saepe molestiae distinctio a sequi. Accusamus esse corrupti ex illo doloribus laborum corporis et illum animi voluptatibus veritatis, blanditiis doloremque explicabo earum. At ducimus aspernatur obcaecati repudiandae distinctio? Nobis eius totam sunt asperiores praesentium recusandae ipsa iure animi ut repellendus fugit fugiat consequuntur, nesciunt magnam perspiciatis earum, iste neque nam harum dolore blanditiis.
    </p>
</div>