@import url('https://fonts.googleapis.com/css?family=Ubuntu|Righteous');

body, html {
    background: #ddd;
    font-family: Ubuntu;
}
h1, h2, h3, h4 {
    font-family: Righteous;
}
/* #content {
}
@media screen and (min-width: 400px) {
} */
.btn-main {
    color: white;
    background: #51ce00;
    transition: background 0.3s;
}
.btn-main:hover {
    color: white;
    background: #42a501;
}
.main-color {
    color: #51ce00;
}
.bg-main {
    background: #51ce00;
}
.rounded {
    border: 1px solid #bbb;
    border-radius: 10px;
}



/* NAVBAR */
.dropdown-item i {
    margin-right: 7px;
    color: #51ce00;
}
.navbar-nav .avatar-img {
    border: 2px solid #c1c1c1;
}


/* DATATABLES */
.card-datatable {
    padding: 20px;
    font-size: .9em;
    border: 1px solid #bbb;
    border-radius: 10px;
    background: white;
}
input[type="search"] {
    border: 1px solid #bbb;
    border-radius: 5px;
}
.dt-buttons {
    display: inline;
}



/* FORMS */
.card {
    border: 1px solid #bbb;
    border-radius: 10px;
    margin: 0 auto;
}
.form-control:focus {
    border-color: #ced4da;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.avatar-img-profile {
    border: 5px solid #51ce00;
    background: #e9e9e9;
    width: 120px;
    height: 120px;
}
.avatar-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.5rem;
}
.avatar-file-input {
    min-width: 14rem;
    max-width: 100%;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}
.change-avatar-button {
    position: absolute; 
    top: 0;
    right: 0;
    left: 0;
    cursor: pointer;
    /* z-index: 20; */
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
    color: #51ce00;
    background: none;
    -webkit-transition: color 0.4s, border 0.4s, background 0.4s;
            transition: color 0.4s, border 0.4s, background 0.4s;
}
.change-avatar-button:hover {
    color: white;
    background: #51ce00;
    border: 1px solid #51ce00;
}

@media only screen and (min-width: 1024px) {
    .card {
        width: 50%;
    }
}




/* FOOTER */
.footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
code {
    font-size: 80%;
}
footer a {
    color: #65757d;
}
footer a:hover {
    color: #ced4da;
}



/* ERRORS */
#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 0px 15px;
}

.notfound .notfound-404 {
    position: relative;
    height: 150px;
    line-height: 150px;
    margin-bottom: 25px;
}

.notfound .notfound-404 h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    background: url('../img/text.png');
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.notfound h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.notfound a {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    margin-top: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
    }
    .notfound .notfound-404 h1 {
    font-size: 120px;
    }
}
  


/* ABOUT view */
.contact-form-wrapper {
    margin-top: 50px !important;
    margin: 0 auto;
}