<footer class="container-fluid w-100 bg-dark text-light py-3 text-center">
    <span class="text-muted">
        © 2019 Consejo Jedi · <a href="https://github.com/megabass00/giphyjs" target="_black">GiphyJS</a>
    </span>
</footer>