<div class="card col-lg-4 col-lg-offset-4 col-md-12 mx-auto mt-5 mb-5">
    <div class="card-title mx-auto mt-3">
        <img src="/img/logo.svg" width="100" alt="GiphyJS Logo">
    </div>
    <div class="card-body">
        <div class="text-center">
            <h3 class="main-color">
                Edit Profile
                <i class="fas fa-user"></i>
            </h3>
        </div>
        <form action="/edit-profile" method="POST" encType="multipart/form-data">
            <div class="form-group text-center">
                <img id="img-avatar" src="{{user.urlAvatar}}" class="avatar-img-profile rounded-circle mt-3" alt="Avatar">
            </div>
            <div class="form-group">
                <label for="mastername">Master Name</label>
                <input name="mastername" value="{{user.mastername}}" type="text" class="form-control input-focus" placeholder="Enter your master name" required autofocus >
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" value="{{user.email}}" type="email" class="form-control input-focus" aria-describedby="emailHelp" placeholder="Enter your email" required >
            </div>
            <label for="avatar" class="avatar-file">
                <span class="change-avatar-button text-center">
                    <input id="select-avatar" type="file" name="avatar" accept="image/*" class="avatar-file-input" onchange="handleNewAvatar(this.files)">
                    Change Avatar
                </span>
            </label>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-main btn-block">Update Profile</button>
            </div>
        </form>
        {{> messages }}
    </div>
</div>

<script type="text/javascript">
    function handleNewAvatar(files) {
        if (files && files[0]) {
            const newAvatar = files[0];
            var reader = new FileReader();
            reader.onload = (e) => {
                var avatar = document.getElementById('img-avatar');
                avatar.src = e.target.result;
            }
            reader.readAsDataURL(newAvatar);
        }
    }
</script>