<div class="card col-lg-4 col-lg-offset-4 col-md-12 mx-auto mt-5 mb-5">
    <div class="card-title mx-auto mt-3">
        <h1>SignIn</h1>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="/img/logo.svg" width="200" alt="GiphyJS Logo" class="mt-1">
        </div>
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control input-focus" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control input-focus" placeholder="Password">
            </div>
            <div class="pretty p-switch mt-3">
                <input type="checkbox" name="remember_me">
                <div class="state p-success">
                    <label for="remember_me">Remember me</label>
                </div>
            </div>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-success btn-block">Login</button>
            </div>
        </form>
    </div>
</div>