<div class="card col-lg-4 col-lg-offset-4 col-md-12 mx-auto mt-5 mb-5">
    <div class="card-title mx-auto mt-3">
        <img src="/img/logo.svg" width="100" alt="GiphyJS Logo">
    </div>
    <div class="card-body">
        <div class="text-center">
            <h3 class="main-color">
                SignUp
                <i class="fas fa-user-plus"></i>
            </h3>
        </div>
        {{> messages }}
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="mastername">Master Name</label>
                <input name="mastername" value="{{mastername}}" type="text" class="form-control input-focus" placeholder="Enter your master name" required autofocus >
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" value="{{email}}" type="email" class="form-control input-focus" aria-describedby="emailHelp" placeholder="Enter your email" required >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" value="{{password}}" type="password" class="form-control input-focus" placeholder="Type your password" required >
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                <input name="confirm_password" value="{{confirm_password}}" type="password" class="form-control input-focus" placeholder="Confirm password" required >
            </div>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-main btn-block">Login</button>
            </div>
        </form>
    </div>
</div>